In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Cargar los datos
data = pd.read_csv('../data/most-spotify-2024.csv', encoding='latin1')

In [3]:
data2 = data.copy()

# Verificar duplicados basados en 'Track' y 'Artist'
print("\nCantidad de datos duplicados:")
print(data2.duplicated(subset=['Track', 'Artist']).sum())

# Eliminar duplicados
data2 = data2.drop_duplicates(subset=['Track','Artist'])

Cantidad de datos duplicados:
112

In [4]:
#CANTIDAD DE VALORES NULOS DESPUES DE ELIMINAR DUPLICADOS
print("\nCantidad de valores faltantes por columna :")
print(data2.isna().sum().sort_values(ascending=False))

Cantidad de valores faltantes por columna :
TIDAL Popularity              4488
Soundcloud Streams            3233
SiriusXM Spins                2029
Pandora Track Stations        1184
TikTok Posts                  1088
Pandora Streams               1021
Amazon Playlist Count          993
YouTube Playlist Reach         936
TikTok Views                   897
TikTok Likes                   896
Deezer Playlist Reach          872
Deezer Playlist Count          865
Spotify Popularity             746
Apple Music Playlist Count     522
Shazam Counts                  495
AirPlay Spins                  451
YouTube Likes                  253
YouTube Views                  246
Spotify Streams                102
Spotify Playlist Reach          60
Spotify Playlist Count          58
Artist                           5
All Time Rank                    0
Track Score                      0
ISRC                             0
Track                            0
Album Name                       0
Release Date                     0
Explicit Track                   0
dtype: int64

In [5]:
#LISTA DE COLUMNAS A ELIMINAR
cols_drop = [
    'TIDAL Popularity',
    'Soundcloud Streams',
    'SiriusXM Spins',
    'Pandora Track Stations',
    'Amazon Playlist Count',
    'Deezer Playlist Count',
    'Deezer Playlist Reach',
    'YouTube Playlist Reach'
]

#ELIMINAR COLUMNAS INNECESARIAS 
for c in cols_drop:
    if c in data2.columns:
        data2.drop(columns=c, inplace=True)

In [6]:
#transformar Release Date a formato datetime y extraer año y mes
data2["Release Date"] = pd.to_datetime(data2["Release Date"], errors="coerce")
data2["Release Year"] = data2["Release Date"].dt.year
data2["Release Month"] = data2["Release Date"].dt.month

data2[["Track", "Release Date", "Release Year", "Release Month"]].head()

                        Track Release Date  Release Year  Release Month
0         MILLION DOLLAR BABY   2024-04-26          2024              4
1                 Not Like Us   2024-05-04          2024              5
2  i like the way you kiss me   2024-03-19          2024              3
3                     Flowers   2023-01-12          2023              1
4                     Houdini   2024-05-31          2024              5

In [7]:
#lista de columnas a convertir a formato numérico
cols_to_fix = [
    'Spotify Streams','Spotify Playlist Count','Spotify Playlist Reach',
    'YouTube Views','YouTube Likes','TikTok Posts','TikTok Likes','TikTok Views',
    'AirPlay Spins','Pandora Streams','Shazam Counts','All Time Rank'
]

# Convertir columnas a formato numérico, eliminando comas y manejando errores
for col in cols_to_fix:
    if col in data2.columns:
        data2[col] = pd.to_numeric(data2[col].astype(str).str.replace(",", "", regex=False), errors='coerce')

# Rellenar valores nulos en columnas numéricas con la mediana de cada columna
num_cols = data2.select_dtypes(include=[np.number]).columns.tolist()
if len(num_cols)>0:
    data2[num_cols] = data2[num_cols].fillna(data2[num_cols].median())

print("\nCantidad de valores NaN por columna numérica:")
print(data2[num_cols].isna().sum())

Cantidad de valores NaN por columna numérica:
All Time Rank                 0
Track Score                   0
Spotify Streams               0
Spotify Playlist Count        0
Spotify Playlist Reach        0
Spotify Popularity            0
YouTube Views                 0
YouTube Likes                 0
TikTok Posts                  0
TikTok Likes                  0
TikTok Views                  0
Apple Music Playlist Count    0
AirPlay Spins                 0
Pandora Streams               0
Shazam Counts                 0
Explicit Track                0
Release Year                  0
Release Month                 0
dtype: int64

In [8]:
#en las filas numericas convierte nan a 0
#Ya todos los nan estaban con la mediana sjsjsjs
"""
num_cols = data2.select_dtypes(include=[np.number]).columns
data2[num_cols] = data2[num_cols].fillna(0)
"""

'\nnum_cols = data2.select_dtypes(include=[np.number]).columns\ndata2[num_cols] = data2[num_cols].fillna(0)\n'

In [9]:
data2.to_csv("../data/data_limpia.csv", index=False)